@{
    ViewData["Title"] = "Home Page";
}

@section style{
    <link href="~/css/Index.css" rel="stylesheet" />
}

<h3 id="welcomeTitle"> Bun venit la AMDAuto Service</h3>
<section>
    <div class="titlu">
        <div>
            <h2 id="quote">"O mașină mai bună pentru momentele cele mai bune"</h2>
            <img id="welcomePhoto" src="~/images/brake service.jpg" class="backgroundImage img-thumbnail" />
        </div>
    </div>
    <div class="slider">

    </div>
</section>


<section class="section2">
    <h4>
        Beneficiezi de o gamă largă de servicii
    </h4>
    <div class="row">
        <div class="col-md-4 w-100 h-100">
            <div class="card">
                <img class="card-img-top" src="~/images/freon.jpg" alt="Incarcare freon">
                <div class="card-body">
                    <h5 class="card-title">Incarcare freon</h5>
                    <p class="card-text">Bucura-te de o vara fara probleme si vino la noi pentru o reincarcare cu freon pentru un aer conditionat mai bun ca in casa!</p>
                    @*<a href="#" class="btn btn-light">Detalii</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-4 w-100 h-100">
            <div class="card">
                <img class="card-img-top" src="~/images/ulei.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Schimb ulei</h5>
                    <p class="card-text">Daca nu iti mai amintesti cand ai schimbat ultima data uleiul, este un semn ca trebuie sa ne faci o vizita!</p>
                    @*<a href="#" class="btn btn-light">Detalii</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-4 w-100 h-100">
            <div class="card">
                <img class="card-img-top" src="~/images/vehicle.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diagnoza motor</h5>
                    <p class="card-text">Vestea de care vrei mereu sa fugi: "E motorul!". Vino chiar acum la noi si primesti o diagnoza motor gratuita!</p>
                    @*<a href="#" class="btn btn-light">Detalii</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="slider2">

    </div>
</section>





@section scripts{
    <script src="~/js/Index.js"></script>
}
