body{
    overflow-x:hidden;
}
.container {
   margin: 0;
   justify-content:center;
   align-items:center;
   position:absolute;
   transform:translate(2%,5%);


}
.appointmentCards{
    max-width:30%;
    margin-bottom:2%;
}

.dateTimeApp {
    display: inline-flex;
}

.dateTimeApp i {
        color: #B86A09;
}

i {
    padding-right: 10px;
}

.card-title {
    color: #B86A09;
}

.butoaneCard a{
    margin-right:15px;
}